In [1]:
import pandas as pd

In [2]:
cd ~/OneDrive/Desktop/Berkeley/209/data

C:\Users\jluic\OneDrive\Desktop\Berkeley\209\data

In [3]:
wine_2020 = pd.read_csv('2020.csv')
wine_2019 = pd.read_csv('2019.csv')
wine_2018 = pd.read_csv('2018.csv')
wine_2017 = pd.read_csv('2017.csv')
wine_2016 = pd.read_csv('2016.csv')
wine_2015 = pd.read_csv('2015.csv')
wine_2014 = pd.read_csv('2014.csv')
wine_2013 = pd.read_csv('2013.csv')
wine_2012 = pd.read_csv('2012.csv')
wine_2011 = pd.read_csv('2011.csv')

In [4]:
# 2020
table_2020 = pd.pivot_table(wine_2020, values = ['1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17'], columns = ['COLOR'], aggfunc='sum')
table_2020['TOTAL'] = table_2020['RED'] + table_2020['WHITE']
table_2020['PERCENT'] = (table_2020['TOTAL'] / table_2020['TOTAL'].sum())*100

# 2019
table_2019 = pd.pivot_table(wine_2019, values = ['1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17'], columns = ['COLOR'], aggfunc='sum')
table_2019['TOTAL'] = table_2019['RED'] + table_2019['WHITE']
table_2019['PERCENT'] = (table_2019['TOTAL'] / table_2019['TOTAL'].sum())*100

# 2018
table_2018 = pd.pivot_table(wine_2018, values = ['1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17'], columns = ['COLOR'], aggfunc='sum')
table_2018['TOTAL'] = table_2018['RED'] + table_2018['WHITE']
table_2018['PERCENT'] = (table_2018['TOTAL'] / table_2018['TOTAL'].sum())*100

# 2017
table_2017 = pd.pivot_table(wine_2017, values = ['1', '2', '3', '4', '5', '6', '7', '8',
   	'9', '10', '11', '12', '13', '14', '15', '16', '17'], columns = ['COLOR'], aggfunc='sum')
table_2017['TOTAL'] = table_2017['RED'] + table_2017['WHITE']
table_2017['PERCENT'] = (table_2017['TOTAL'] / table_2017['TOTAL'].sum())*100

# 2016
table_2016 = pd.pivot_table(wine_2016, values = ['1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17'], columns = ['COLOR'], aggfunc='sum')
table_2016['TOTAL'] = table_2016['RED'] + table_2016['WHITE']
table_2016['PERCENT'] = (table_2016['TOTAL'] / table_2016['TOTAL'].sum())*100

#2015
table_2015 = pd.pivot_table(wine_2015, values = ['1', '2', '3', '4', '5', '6', '7', '8',
   	'9', '10', '11', '12', '13', '14', '15', '16', '17'], columns = ['COLOR'], aggfunc='sum') 
table_2015['TOTAL'] = table_2015['RED'] + table_2015['WHITE']
table_2015['PERCENT'] = (table_2015['TOTAL'] / table_2015['TOTAL'].sum())*100

# 2014
table_2014 = pd.pivot_table(wine_2014, values = ['1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17'], columns = ['COLOR'], aggfunc='sum')
table_2014['TOTAL'] = table_2014['RED'] + table_2014['WHITE']
table_2014['PERCENT'] = (table_2014['TOTAL'] / table_2014['TOTAL'].sum())*100

# 2013
table_2013 = pd.pivot_table(wine_2013, values = ['1', '2', '3', '4', '5', '6', '7', '8',
   	'9', '10', '11', '12', '13', '14', '15', '16', '17'], columns = ['COLOR'], aggfunc='sum') 
table_2013['TOTAL'] = table_2013['RED'] + table_2013['WHITE']
table_2013['PERCENT'] = (table_2013['TOTAL'] / table_2013['TOTAL'].sum())*100

# 2012
table_2012 = pd.pivot_table(wine_2012, values = ['1', '2', '3', '4', '5', '6', '7', '8',
   	'9', '10', '11', '12', '13', '14', '15', '16', '17'], columns = ['COLOR'], aggfunc='sum') 
table_2012['TOTAL'] = table_2012['RED'] + table_2012['WHITE']
table_2012['PERCENT'] = (table_2012['TOTAL'] / table_2012['TOTAL'].sum())*100

# 2011
table_2011 = pd.pivot_table(wine_2011, values = ['1', '2', '3', '4', '5', '6', '7', '8',
   	'9', '10', '11', '12', '13', '14', '15', '16', '17'], columns = ['COLOR'], aggfunc='sum') 
table_2011['TOTAL'] = table_2011['RED'] + table_2011['WHITE']
table_2011['PERCENT'] = (table_2011['TOTAL'] / table_2011['TOTAL'].sum())*100

In [5]:
table_2020['YEAR'] = '2020'
table_2019['YEAR'] = '2019'
table_2018['YEAR'] = '2018'
table_2017['YEAR'] = '2017'
table_2016['YEAR'] = '2016'
table_2015['YEAR'] = '2015'
table_2014['YEAR'] = '2014'
table_2013['YEAR'] = '2013'
table_2012['YEAR'] = '2012'
table_2011['YEAR'] = '2011'

In [6]:
combined = table_2020
combined = combined.append(table_2019)
combined = combined.append(table_2018)
combined = combined.append(table_2017)
combined = combined.append(table_2016)
combined = combined.append(table_2015)
combined = combined.append(table_2014)
combined = combined.append(table_2013)
combined = combined.append(table_2012)
combined = combined.append(table_2011)

In [7]:
combined = combined.reset_index()
combined.to_csv('combined_all.csv')

In [20]:
combined

COLOR index       RED     WHITE      TOTAL    PERCENT  YEAR
0         1   28100.8   26978.5    55079.3   1.614809  2020
1        10   15547.0    2287.8    17834.8   0.522879  2020
2        11  465327.3  223028.4   688355.7  20.181139  2020
3        12  135170.3  152640.2   287810.5   8.437997  2020
4        13  563430.9  634149.7  1197580.6  35.110540  2020
..      ...       ...       ...        ...        ...   ...
165       5    6856.9    8437.4    15294.3   0.456963  2011
166       6   14187.7    7760.6    21948.3   0.655772  2011
167       7   98423.7  110772.7   209196.4   6.250376  2011
168       8  112089.4   46081.8   158171.2   4.725843  2011
169       9   25668.2   28689.3    54357.5   1.624095  2011

[170 rows x 6 columns]

In [17]:
combined.columns

Index(['index', 'RED', 'WHITE', 'TOTAL', 'PERCENT', 'YEAR'], dtype='object', name='COLOR')

In [18]:
import numpy as np
wine_cross = pd.pivot_table(combined, values = ['RED', 'WHITE', 'TOTAL'], columns = ['index'], aggfunc=np.sum)

In [19]:
wine_cross

index,1,10,11,12,13,14,15,16,17,2,3,4,5,6,7,8,9
COLOR,,,,,,,,,,,,,,,,,
RED,380239.6,183023.1,4948382.0,1676977.2,6574469.1,1484878.0,5279.8,36936.2,438947.3,248102.4,1302433.4,1102781.4,96430.9,193680.1,1266117.4,1510571.1,310535.3
TOTAL,679254.6,206723.3,7346980.5,3374944.7,12622709.0,3046522.1,6001.0,50186.7,1541200.9,417475.4,2228386.9,1518370.5,207527.7,286063.1,2616036.9,2090300.3,624951.8
WHITE,299015.0,23700.2,2398598.5,1697967.5,6048239.9,1561644.1,721.2,13250.5,1102253.6,169373.0,925953.5,415589.1,111096.8,92383.0,1349919.5,579729.2,314416.5

In [23]:
wine_cross2 = pd.pivot_table(combined, values = ['RED', 'WHITE', 'TOTAL', 'YEAR'], columns = ['index'], index = 'YEAR', aggfunc=np.sum)

In [24]:
wine_cross2

COLOR   PERCENT                                                       \
index         1        10         11        12         13         14
YEAR
2011   1.714491  0.517813  17.142766  8.693472  34.359240  10.841579
2012   1.769459  0.581736  19.099569  8.448308  30.249547   8.199723
2013   1.835635  0.542315  18.889223  8.474119  30.924487   8.334377
2014   1.591658  0.518504  17.318569  8.657679  31.583512   8.112181
2015   1.551813  0.461346  18.101289  9.896699  37.102215   7.902390
2016   1.933710  0.532516  19.898105  9.251636  31.396716   7.028640
2017   1.762772  0.551070  18.520648  8.825574  32.683519   7.782654
2018   1.912514  0.559915  19.868042  8.289311  30.265705   7.081034
2019   1.728389  0.518728  19.767561  7.941839  32.398347   6.991153
2020   1.614809  0.522879  20.181139  8.437997  35.110540   6.420402

COLOR                                          ...   WHITE                     \
index        15        16        17         2  ...      16        17        2
YEAR                                           ...
2011   0.029875  0.101325  3.250891  1.015960  ...   877.0   77849.5  12882.8
2012   0.024130  0.123286  3.700701  0.866535  ...  1327.1  108505.0  12632.0
2013   0.012262  0.117939  3.386172  1.027567  ...  1354.2  104216.4  18300.6
2014   0.008773  0.124491  3.614803  0.993456  ...  1387.4  103404.8  16467.2
2015   0.009958  0.110361  3.629149  1.046999  ...  1230.4   97018.7  15565.3
2016   0.010548  0.120038  4.182227  1.154215  ...  1343.8  120436.0  20160.1
2017   0.024098  0.170644  3.945789  1.192336  ...  1815.3  109537.5  18281.7
2018   0.007390  0.106832  4.382040  1.084288  ...  1033.1  131357.4  17879.0
2019   0.018152  0.189153  4.587856  1.205510  ...  1776.8  128884.7  19738.4
2020   0.011155  0.123883  4.996112  1.158646  ...  1105.4  121043.6  17465.9

COLOR
index         3        4        5        6         7        8        9
YEAR
2011    64800.3  32036.9   8437.4   7760.6  110772.7  46081.8  28689.3
2012   105351.7  50750.2  14316.6  11337.2  149536.3  66858.0  33351.7
2013   114173.8  53209.7  12302.4  12219.9  162849.2  78051.2  30847.5
2014   111613.9  52112.8  13057.5  10230.4  171049.8  66337.1  27468.3
2015    80535.1  34563.4  10271.5   7552.0  110633.3  46129.0  26062.4
2016    95852.3  42603.6  11424.0   9589.0  132355.0  59970.4  30998.3
2017    81309.7  36367.2   9458.5   9180.5  140775.8  58540.8  36697.6
2018   112401.7  47237.8  12510.1  10755.0  148883.0  59288.6  34687.5
2019    94740.1  38620.7   8519.5   7023.6  118138.8  53035.5  37915.1
2020    65174.9  28086.8  10799.3   6734.8  104925.6  45436.8  27698.8

[10 rows x 68 columns]

In [27]:
wine_2020['YEAR'] = '2020'
wine_2019['YEAR'] = '2019'
wine_2018['YEAR'] = '2018'
wine_2017['YEAR'] = '2017'
wine_2016['YEAR'] = '2016'
wine_2015['YEAR'] = '2015'
wine_2014['YEAR'] = '2014'
wine_2013['YEAR'] = '2013'
wine_2012['YEAR'] = '2012'
wine_2011['YEAR'] = '2011'

In [28]:
grapes = wine_2020
grapes = grapes.append(wine_2019)
grapes = grapes.append(wine_2018)
grapes = grapes.append(wine_2017)
grapes = grapes.append(wine_2016)
grapes = grapes.append(wine_2015)
grapes = grapes.append(wine_2014)
grapes = grapes.append(wine_2013)
grapes = grapes.append(wine_2012)
grapes = grapes.append(wine_2011)

In [29]:
grapes

,Type and Variety,COLOR,1,2,3,4,5,6,7,8,...,YEAR,2018 State Total,2017 State Total,2016 State Total,2015 State Total,2014 State Total,2013 State Total,2012 State Total,2011 State Total,2010 State Total
0,Albarino,WHITE,0.9,3.4,59.9,47.7,188.4,11.6,146.5,344.3,...,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arneis,WHITE,22.9,0.0,0.0,1.2,0.0,0.0,1.5,18.5,...,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Burger *,WHITE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Chardonnay *,WHITE,21473.0,2156.0,47877.7,14882.2,4600.2,4832.4,78712.0,28545.4,...,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chenin Blanc,WHITE,105.3,1.5,37.3,51.4,822.3,19.4,82.2,369.4,...,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Touriga Francesca,RED,1.8,0.0,0.0,0.0,0.0,0.0,1.5,0.0,...,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.7,11.0
116,Touriga Nacional *,RED,12.2,8.9,3.6,31.5,0.0,5.5,7.0,39.7,...,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.8,2220.7
117,Trousseau *,RED,0.0,5.0,2.2,0.0,0.0,0.0,5.1,0.0,...,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.9,49.7
118,Zinfandel,RED,4432.1,1890.6,13101.0,3660.4,379.0,2095.8,436.1,9188.8,...,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,345168.1,394213.3
119,Other Red 1/,RED,76.0,30.1,225.4,52.7,16.7,15.5,9.2,59.2,...,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12007.9,37332.9

In [ ]:
import json

In [38]:
grapes_regionsbyyear = pd.pivot_table(grapes, values = ['YEAR'], columns = ['1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17'],  aggfunc=np.sum)

In [39]:
grapes_yearsbyregion = pd.pivot_table(grapes, values = ['1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17'], columns = ['YEAR'],  aggfunc=np.sum)

In [54]:
import json

json = grapes_yearsbyregion.to_json('grapesjson.json')

In [53]:
json

'{"2011":{"1":57383.0,"10":17330.9,"11":573758.2999999999,"12":290965.4000000001,"13":1149983.6000000001,"14":362861.2999999999,"15":999.9,"16":3391.3,"17":108805.4,"2":34003.6,"3":166618.8,"4":121872.1,"5":15294.3,"6":21948.3,"7":209196.4,"8":158171.2,"9":54357.5},"2012":{"1":71094.9,"10":23373.5,"11":767399.6000000001,"12":339443.7,"13":1215393.3999999999,"14":329455.8,"15":969.5,"16":4953.5,"17":148690.1,"2":34816.4,"3":267061.6,"4":182858.6,"5":23827.9,"6":30807.9,"7":299179.6000000001,"8":218367.7,"9":60195.9},"2013":{"1":77920.7,"10":23020.7,"11":801826.8999999999,"12":359717.0999999999,"13":1312710.7000000002,"14":353785.2000000001,"15":520.5,"16":5006.4,"17":143739.3,"2":43619.1,"3":270609.1,"4":174846.4999999999,"5":21183.1,"6":37582.4,"7":312565.0,"8":243349.8,"9":62888.3},"2014":{"1":61960.0,"10":20184.3,"11":674176.5999999997,"12":337025.7999999999,"13":1229481.7999999991,"14":315790.7000000001,"15":341.5,"16":4846.2,"17":140716.9,"2":38673.2,"3":255635.4000000001,"4":175607.3,"5":23273.0,"6":28175.1,"7":318490.8,"8":213087.2,"9":55330.5},"2015":{"1":57488.0,"10":17090.9,"11":670575.0000000003,"12":366630.2,"13":1374477.7,"14":292749.5999999999,"15":368.9,"16":4088.4,"17":134444.4,"2":38786.8,"3":182069.4000000001,"4":124125.5,"5":17929.1,"6":22585.4,"7":198284.3,"8":150117.4,"9":52759.5},"2016":{"1":77950.7,"10":21466.5,"11":802121.8,"12":372947.0000000001,"13":1265647.6999999997,"14":283334.8,"15":425.2,"16":4838.9,"17":168591.7,"2":46528.1,"3":226441.6,"4":153045.2,"5":21281.3,"6":30564.5,"7":268687.5999999999,"8":224584.2,"9":62689.9},"2017":{"1":70752.1,"10":22118.2,"11":743360.2000000001,"12":354230.6,"13":1311813.0,"14":312371.0999999999,"15":967.2,"16":6849.1,"17":158371.4999999999,"2":47856.6,"3":206097.2,"4":142413.1,"5":17936.3,"6":28448.3,"7":282090.0000000001,"8":233228.0999999999,"9":74780.9},"2018":{"1":81887.8,"10":23973.8,"11":850686.8000000003,"12":354922.1000000001,"13":1295881.8999999994,"14":303187.4999999999,"15":316.4,"16":4574.2,"17":187625.1,"2":46425.8,"3":275976.9,"4":184573.0000000001,"5":23969.9,"6":34265.7,"7":298674.5999999999,"8":245512.4,"9":69230.3},"2019":{"1":67738.1,"10":20329.7,"11":774719.6,"12":311252.3,"13":1269738.5999999996,"14":273993.5,"15":711.4,"16":7413.2,"17":179804.8,"2":47245.7,"3":229791.7999999999,"4":159721.3,"5":20445.0,"6":27567.1,"7":240481.0999999999,"8":212429.7,"9":75763.3},"2020":{"1":55079.3,"10":17834.8,"11":688355.7000000001,"12":287810.5,"13":1197580.5999999996,"14":218992.6,"15":380.5,"16":4225.5,"17":170411.7,"2":39520.1,"3":148085.1,"4":99307.9,"5":22387.8,"6":24118.4,"7":188387.4999999999,"8":191452.6,"9":56955.7}}'